<div class="">
  <h2><% t('.title') %></h2>
  <div class="">
    <% belonging = choose_corp_or_prop %>
    <%= link_to belonging.name, choose_corp_or_prop_path(@suggest) %>
    <!-- user image -->
  </div>
  <div class="">
    <%# <%= <%= image_tag @suggest.image.url %>
  </div>
  <div class="">
    <%# コメント　非同期の場合 %>
  </div>
</div>
