<!-- /views/comments = Comment model　に対してAjax -->
<div class="ht-tm-codeblock">
  <%= form_with(model: comment, url:           suggest_comment_path(
  comment.suggest.id, comment.id))do |f| %>
    <div class="form-group">
      <%= f.label t('.edit') %><br>
      <%= f.text_area :text, class:'field', id: 'edit_text_box' %>
      <div class="input-group-append" id="subumit_edit">
        <%= f.submit '更新する', class: "btn btn-info btn-sm float-right" %>
      </div>
    </div>
  <% end %>
</div>
