<h1><%= t('.rooms') %></h1>
<%# 旧コード %>
<% @rooms.each do |room| %>
  <% if room.target_user(current_user).present? %>
    <%= link_to room.target_user(current_user).user_name, room_messages_path(room) %>
  <% end %>
<% end %>
