<%# <% if @user.present? && user_signed_in? %>
  <!-- <p><%= @suggest.title %></p> -->
  <!-- <p><%= choose_corp_or_prop.name %></p> -->
  <!-- <p><%= link_to t('.create room'), rooms_path(suggest_id: @suggest.id), method: 'post' %></p> -->
<%# <% end %>
