body {
  padding-top: 80px;
  // text-align: center;
  padding-bottom: 80px;
}
nav {
  background-color: #6600cc;
}
.footer {
  color: #fff;
  margin: auto;
}
.user_image {
  width: 80px;
  height: 80px;
  border-radius: 64px;
  overflow: hidden;
  background-color: #a1aab3;
}
.jumbotron {
  background-color: #6cd5e696;
}
