body {
  padding-top: 80px;
  // text-align: center;
  padding-bottom: 80px;
}
nav {
  background-color: #6600cc;
}
.footer {
  color: #fff;
  margin: auto;
}
.user_image {
  width: 80px;
  height: 80px;
  border-radius: 64px;
  overflow: hidden;
  background-color: #a1aab3;
}
.jumbotron {
  background-color: #6cd5e696;
}
.title {
  padding-bottom: 10px;
}
.suggest {
  margin: 1rem;
}
.right {
  float: right;
  padding-right: 30px;
}
.overview {
  width: auto;
  height: auto;
  overflow: hidden;
}
.thumbnail {
  margin-top: 15px;
}
.user_image {
  margin: 15px;
}
.suggest-images {
  margin: auto;
  padding: 20px;
}
.title_confirm .details_confirm .tags_confirm strong {
  margin: 20px;
}
.form-controrl {
  margin: auto;
  padding: 20px;
}
.tags {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.category {
  padding-left: 20px;
  padding-right: 20px;
}
.show {
  margin-bottom: 15px;
}
.pagination {
  justify-content: center;
  background-color: #fff;
}
.chat {
  margin-top: 30px;
}
.message_added {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
  border-radius: 15px;
}
.message_added:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #e0edff;
}
