body {
  padding-top: 80px;
  // text-align: center;
  padding-bottom: 80px;
}
nav {
  background-color: #6600cc;
}
.footer {
  color: #fff;
  margin: auto;
}
.user_image {
  width: 80px;
  height: 80px;
  border-radius: 64px;
  overflow: hidden;
  background-color: #a1aab3;
}
.jumbotron {
  background-color: #6cd5e696;
}
.title{
  padding-bottom: 10px;
}
.suggest {
  margin: 1rem;
}
.right {
  float: right;
  padding-right: 30px;
}
.overview {
  width: auto;
  height: auto;
  overflow: hidden;
}
.thumbnail {
  margin-top: 15px;
}
.user_image {
  margin: 15px;
}
.tags {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.category {
  padding-left: 20px;
  padding-right: 20px;
}
.show {
  margin-bottom: 15px;
}
.pagination {
  justify-content: center;
  background-color: #fff;
}
.chat {
  margin-top: 30px;
}
