<div class="fixed-bottom">
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#00b377;">
  <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> -->
    <div class="footer">
      <p>Meets Suggests©︎ 2020-2021</p>
    </div>
    <!-- <p>Meets Suggests©︎ 2020-2021</p> -->
  </nav>
</div>
